
{% extends "base.twig" %}
{% block title %} Inicio {% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {# Slider #}
    {% include 'includes/slider.twig' %}
    {# Header #}
    {% include 'includes/header.twig' %}
{# Cuerpo General #}
 <!--Main layout-->
<main>
<div class="container-fluid">
    <div class="row pt-4">
        {% include 'body/primera_columna.twig' %}
        <!--columnn Central-->
        <div class="col-sm-6 col-lg-6">
            {{datos.this_page.html_Page|raw}}
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.4s">
                <div class="card-header text-center text-white">
                    Noticias del día:
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Text-->
                    {% for key, notice in datos['notices'] if notice.flg_destacado == 1 %}
                    <p class="card-text card-body-title color-fentap1 font-weight-bold">
                        {{notice.title_notice}} 
                    </p>
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="w-100" src="{{IMAGE}}upload/{{notice.img_portada}}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <div class="d-flex pb-2">
                                <div class="mr-auto"> <span style="font-size:12px;" class="font-weight-light">Autor : Ancaor</span></div>
                                <div> <span class="font-weight-light" style="font-size:12px;">Fecha : 19/02/2018 </span> </div>
                            </div>
                            <p>
                                {{notice.descrip_notice}}  <a class="btn btn-primary btn-sm px-2" style="padding-bottom:2px;padding-top:2px;" href="noticia/read/{{notice.slug_notice}}">Leer noticia completa</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}     
                </div>
            </div>
            <!--/.Card-->
            <div id="world-map" class="mapa-general mx-auto mt-4"></div>
        </div>
        {% include 'body/segunda_columna.twig' %}
    </div>
</div>
<!--/.Main layout-->
</main>

{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(e){
        var regiones = {{datos.regiones|raw}};
        var projects = {{datos.projects|raw}};
        $('#world-map').vectorMap({
            map: 'peru',
            onRegionOver: function (e, code) {
                $(this).on('click', function () {
                    var map = $('#world-map').vectorMap('get', 'mapObject');
                    var name = map.getRegionName(code);
                    var objregion = map.regions[code];
                // alert(code, name, objregion.config['id']); 
                });
            },
            onRegionClick: function(e, code){
                var base_url = window.location.href;
                    $.ajax({
                        url: 'inicio/goToDepartamento',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'code': code
                        },
                        success: function(data) {
                            if (data.error == 0) {
                                if(data.url == 0) {
                                    return;
                                }
                                // var URLactual = window.location.href;
                                window.location = data.url;
                            } else {
                                alert('ERROR');
                            }
                        }
                    }).fail(function(e) {
                        console.log(e)
                    });

            },
            onRegionOut: function (e, code) {
              $(this).unbind('click');
            },
            zoomButtons : true,
            zoomOnScroll : false,
            backgroundColor: '#b3d1ff',
            series: {
            regions: [{
              values: regiones,
              scale: ['#E0E0E0', '#b3d1ff',"#1A3984"],
              normalizeFunction: 'polynomial',
            }]
            },
            regionStyle:{
              initial:{
                fill:"#f4f3f0",
                stroke:"#666666",
                "stroke-width":1,
                "stroke-opacity":1
              },
              hover:{
                // "fill":"#1B2B34",
                // "fill-opacity": 0.1,
                cursor: 'pointer'
              }
            },
            regionLabelStyle:{
              initial: {
              'font-family': 'Verdana',
              'font-size': '18',
              'font-weight': 'bold',
              cursor: 'default',
              fill: 'black'
              },
              hover: {
                cursor: 'pointer'
              }
            },
            //  markers: [
            // {
            // attribute: 'image',
            //   coords: [320, 86],
            //   name: 'Gdańsk',
            //   style: {fill: '#b3b2b2', stroke: false}
            // }],
            onMarkerLabelShow: function(event, label, code) {
                // console.log(event);
                // label.html("<img src=\"img/logo.png\"><br>"+ label.html());  
                // label.css({'background': '#fff', 'color': '#66696d', 'z-index': '99999'})             
            },
            onRegionLabelShow: function(event, label, code){
                var map = $('#world-map').vectorMap('get', 'mapObject');
                var name = map.getRegionName(code);
                var objregion = map.regions[code];
                var data = objregion.config;
                if(typeof(projects[data.id]) != "undefined"){
                    var proyecto = projects[data.id];
                } else {
                    var proyecto = "";
                }
                if(proyecto != "") {
                    label.html('<strong>'+name+'</strong><br>'+'<p>'+proyecto+'</p>');
                }
                
                // label.html(label.html()+'<br><img src="" height="20">');
                // label.html(names[currentLang][code]);
            } 
        })
    });
    </script>
{% endblock %}
