<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
 	<!-- class="current-page"  -->
  	<div class="col-md-3 left_col menu_fixed">
      	<div class="left_col scroll-view">
        	<div class="navbar nav_title" style="border: 0;">
          		<a href="{{BASE}}panel" class="site_title"><span>Admin Page</span></a>
        	</div>
    		<div class="clearfix"></div>
			<!-- menu profile quick info -->
			<div class="profile">
				<div class="profile_pic">
					<img src="{{IMAGE}}general/profile.png" alt="..." class="img-circle profile_img">
				</div>
				<div class="profile_info">
					<span>Bienvenido,</span>
					<h2>{{ session.name_User }}</h2>
				</div>
			</div>
			<!-- /menu profile quick info -->
			<br />
			<div class="menu_section">
				<h3>General</h3>
				<ul class="nav side-menu">
					<li class="current-page"><a href="{{BASE_PANEL}}"><i class="fa fa-home"></i> Inicio </a></li>
					{% for key, tab in datos.tabs %}
					<li><a><i class="{{tab.icon_tab}}"></i> {{tab.desc_tab}} <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
						{% for key, permiso in datos.permisos %}
							{% if permiso.id_tab ==  tab.id_tab %}
								<li><a href="{{BASE_PANEL ~ permiso.url_accion}}"> {{permiso.desc_accion}} </a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>
  		</div>
  	</div>
</div>