<!--Third columnn-->
<div class="col-lg-3">
     <!--Card Hidro-->
    {% if  datos.this_baseURL != 'hidroboletin' %}
    <div class="card wow fadeIn" data-wow-delay="0.4s">
        <div class="card-header card-header-title text-left text-white text-uppercase">
            <!--Title-->
           <i class="icon icon-newspaper"></i> Hidroboletín
        </div>
        <!--Card content-->
        {#      id_boletin
                title_boletin
                slug_boletin
                descrip_boletin
                date_create
                date_modificate
                html_boletin
                img_portada
                name_User      #}
        <div class="card-body pt-0">
            <!--Text-->
             {% for key, boletin in datos['boletines'] if key < 2 %}
                <div class="content-notice">
                    <p class="title text-left m-0 card-body-title pt-2">"{{ boletin.title_boletin }}"</p>
                    <div class="notice-info">
                        <div class="d-flex pb-2">
                            <div class="mr-auto"> <span style="font-size:12px;" class="font-weight-light">Autor : {{ boletin.name_User }}</span></div>
                            <div> <span class="font-weight-light" style="font-size:12px;">Fecha :{{boletin.date_modificate == '' ? boletin.date_create :  boletin.date_modificate }}</span> </div>
                        </div>
                        <p class="card-text text-justify card-body-parrafo" style="line-height:15px;">
                           {{ boletin.descrip_boletin }}<a class="btn btn-primary btn-sm px-2" style="padding-bottom:2px;padding-top:2px;" href="hidro_boletin/read/{{ boletin.slug_boletin }}">Leer más</a>
                        </p>
                    </div>
                </div>
                {% if key < 1 %}
                     <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--/.Card-->
    <hr>
    {% if  (datos.this_baseURL != 'publicacion') %}
    <!--Card Publish-->
    <div class="card wow fadeIn" data-wow-delay="0.4s">
        <div class="card-header text-center text-white">
            Publicaciones:
        </div>
        <!--Card content-->
        <div class="card-body pt-0">
            <!--Text-->
             {% for key, publish in datos['publishes'] if key < 2 %}
                <div class="publish-notice">
                    <p class="title text-left m-0 card-body-title pt-2">"{{ publish.title_publish }}"</p>
                    <div class="notice-info">
                        <div class="d-flex pb-2">
                            <div class="mr-auto"> <span style="font-size:12px;" class="font-weight-light">Autor : {{ publish.name_User }}</span></div>
                            <div> <span class="font-weight-light" style="font-size:12px;">Fecha :{{publish.date_modificate == '' ? publish.date_create :  publish.date_modificate }}</span> </div>
                        </div>
                        <p class="card-text text-justify card-body-parrafo" style="line-height:15px;">
                           {{ publish.descrip_publish }}<a class="btn btn-primary btn-sm px-2" style="padding-bottom:2px;padding-top:2px;" href="publicacion/read/{{ publish.slug_publish }}">Leer más</a>
                        </p>
                    </div>
                </div>
                {% if key < 1 %}
                     <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--/.Card-->
    <hr>
    <!-- Card Notices -->
    {% if  (datos.this_baseURL != 'noticia' and datos.this_baseURL != 'inicio') %}
    <div class="card wow fadeIn" data-wow-delay="0.4s">
        <!--Card header-->
        <div class="card-header bg-fentap3 text-center text-white">
            Noticias
        </div>
        <!--Card content-->
        <div class="card-body py-1" style="background-color:rgb(22, 141, 171);">
            <!--Text-->
            {#  name_User
                id_notice
                title_notice
                descrip_notice
                date_create
                date_modificate
                html_notice
                img_portada #}
            {% for key, notice in datos['notices'] if key < 2 and notice.flg_destacado == 0 %}
                <div class="content-notice row pt-1">
                    <div class="col-sm-4 p-0">
                        {# {{loop.length}} #}
                        <img class="w-100" src="{{IMAGE}}upload/{{notice.img_portada}}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <a href="noticia/read/{{notice.slug_notice}}">
                            <span class="font-weight-bold text-white p-0" style="font-size:11px;"> {{notice.title_notice}} </span> 
                        </a>
                    </div>
                    <div class="col-sm-12">
                        <div class="d-flex pb-0 text-white">
                            <div class="mr-auto"> <span style="font-size:12px;" class="font-weight-light"> Autor: {{notice.name_User}}</span></div>
                            <div> <span class="font-weight-light" style="font-size:12px;">{{notice.date_modificate == '' ? notice.date_create :  notice.date_modificate }}</span> </div>
                        </div>
                    </div>
                </div>
                {% if key < 2 %}
                     <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--/. Card -->
    <hr>
    <!--Card-->
    <div class="card wow fadeIn bg-fentap1 text-white text-center" data-wow-delay="0.4s">
        <!--Card content-->
        <div class="card-body pt-4">
            <a class="text-white" href="construccion"><h5>NORMAS LEGALES</h5>   </a>
        </div>
    </div>
    <!--/.Card-->
    <hr>
</div>
<!--Third columnn-->