<!-- method="post" action="panel/pages" -->
<form action="" id="form_boletin" method="POST" class="form-horizontal form-label-left" novalidate>

<div class="row">
	<div class="col-md-12">
		  <!-- ITEM -->
		  <div class="item form-group">
		    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align:left;" for="name">
		      Usuario: <span class="required">*</span>
		    </label>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		      <input id="name_User" name="name_User" class="form-control col-md-7 col-xs-12" disabled="" value="{{ session.name_User }}">
		    </div>
		  </div>
		  <!-- /ITEM -->

		  <!-- ITEM -->
		  <div class="item form-group">
		    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align:left;" for="name">
		      Título del Hidro Boletín <span class="required">*</span>
		    </label>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		    <input id="title_boletin" name="title_boletin" class="form-control col-md-7 col-xs-12" data-validate-length-range="5,100" placeholder="Ingrese el título de la noticia" value="{{ datos.boletin ? datos.boletin['title_boletin'] : ''}}" required="required" type="text">
		    </div>
		  </div> 
		  <!-- /ITEM -->

			<!-- ITEM -->
		  <div class="item form-group">
		    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align:left;" for="name">
		      Descripción de la noticia<span class="required">*</span>
		    </label>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		    <input id="descrip_boletin" name="descrip_boletin" class="form-control col-md-7 col-xs-12" data-validate-length-range="5,250" placeholder="Ingrese la descripción de la noticia" value="{{ datos.boletin ? datos.boletin['descrip_boletin'] : ''}}" required="required" type="text">
		    </div>
		  </div> 

	</div>
	<div class="col-md-4">
			<div class="row" style="padding-bottom:20px;padding-left:10px;">
				<label class="control-label col-md-8 col-sm-8 col-xs-8" style="text-align:left;" for="name">
			      Marcar como destacado :{{datos.boletin.flg_destacado }}
			    </label>
			    <div class="col-md-4 col-sm-4 col-xs-4">
			    	<span>
					<label class="control control--checkbox" style="margin-top: -10px;">
					 	<input id="flg_destacado" name="flg_destacado" type="checkbox" {{ datos.boletin.flg_destacado == 0 ? '' : 'checked' }} onclick="active_destacado($(this))" /> 
	                	<div class="control__indicator  btn btn-primary"></div>
					</label>
					</span>
				</div>	
			</div>		
		  	{% if datos.boletin %}
			<div class="image_portada">
				<img style="width:100%;" src="images/upload/{{ datos.boletin.img_portada ? datos.boletin.img_portada : 'default_boletin.jpg' }}" alt="">
			</div>
			{% endif %}
			<!-- /ITEM -->
			<div class="item form-group">
			  	<input name="img-portada" id="input-id" type="file" class="file" data-preview-file-type="text">
			</div> 
	</div>
	<div class="col-md-8">
		<div class="summernote">
	    {% autoescape %}
	        {{ datos.boletin.html_boletin|raw }} {# var won't be escaped #}
	    {% endautoescape %}
		</div>
	</div>					
</div>
 
  <!-- /ITEM -->

  <!-- USER -->
  <input id="id_User" name="id_User" type="hidden" value="{{ session.id_user }}">
  <!-- ACTION -->
  <input id="action" name="action" type="hidden" value="{{ datos.boletin ? 'actualizar' : 'registrar' }}">
  <input id="id_boletin" name="id_boletin" type="hidden" value="{{ datos.boletin ? datos.boletin.id_boletin : '' }}">

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <button id="btnenviar" type="submit" class="btn btn-success" disabled><i class="fa fa-paper-plane"></i> Guardar </button>
      <button type="reset" class="btn btn-danger">Limpiar</button>
    </div>
  </div>
</form>
{# <p>Atributo de la Página: </p>
 #}


