<!-- method="post" action="panel/pages" -->
<form action="" id="form_publish" method="POST" class="form-horizontal form-label-left" novalidate>

<div class="row">
	<div class="col-md-12">
		  <!-- ITEM -->
		  <div class="item form-group">
		    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align:left;" for="name">
		      Usuario: <span class="required">*</span>
		    </label>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		      <input id="name_User" name="name_User" class="form-control col-md-7 col-xs-12" disabled="" value="{{ session.name_User }}">
		    </div>
		  </div>
		  <!-- /ITEM -->

		  <!-- ITEM -->
		  <div class="item form-group">
		    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align:left;" for="name">
		      Título de la publicación <span class="required">*</span>
		    </label>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		    <input id="title_publish" name="title_publish" class="form-control col-md-7 col-xs-12" data-validate-length-range="5,100" placeholder="Ingrese el título de la noticia" value="{{ datos.publish ? datos.publish['title_publish'] : ''}}" required="required" type="text">
		    </div>
		  </div> 
		  <!-- /ITEM -->

			<!-- ITEM -->
		  <div class="item form-group">
		    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align:left;" for="name">
		      Descripción de la publicación <span class="required">*</span>
		    </label>
		    <div class="col-md-8 col-sm-8 col-xs-12">
		    <input id="descrip_publish" name="descrip_publish" class="form-control col-md-7 col-xs-12" data-validate-length-range="5,250" placeholder="Ingrese la descripción de la noticia" value="{{ datos.publish ? datos.publish['descrip_publish'] : ''}}" required="required" type="text">
		    </div>
		  </div> 

	</div>
	<div class="col-md-4">
		  	{% if datos.publish %}
			<div class="image_portada">
				<img style="width:100%;" src="images/upload/{{ datos.publish.img_portada ? datos.publish.img_portada : 'default_publish.jpg' }}" alt="">
			</div>
			{% endif %}
			<!-- /ITEM -->
			<div class="item form-group">
			  	<input name="img-portada" id="input-id" type="file" class="file" data-preview-file-type="text">
			</div> 
	</div>
	<div class="col-md-8">
		<div class="summernote">
	    {% autoescape %}
	        {{ datos.publish.html_publish|raw }} {# var won't be escaped #}
	    {% endautoescape %}
		</div>
	</div>					
</div>
 
  <!-- /ITEM -->

  <!-- USER -->
  <input id="id_User" name="id_User" type="hidden" value="{{ session.id_user }}">
  <!-- ACTION -->
  <input id="action" name="action" type="hidden" value="{{ datos.publish ? 'actualizar' : 'registrar' }}">
  <input id="id_publish" name="id_publish" type="hidden" value="{{ datos.publish ? datos.publish.id_publish : '' }}">

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <button id="btnenviar" type="submit" class="btn btn-success" disabled><i class="fa fa-paper-plane"></i> Guardar </button>
      <button type="reset" class="btn btn-danger">Limpiar</button>
    </div>
  </div>
</form>
{# <p>Atributo de la Página: </p>
 #}


