<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base href="{{BASE}}" target="_top" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{# <link rel="stylesheet" href="{{DIR_LIBS}}mdb/css/mdb.css"> #}
{# <link href="https://bootswatch.com/3/lumen/bootstrap.min.css" rel="stylesheet"> #}
<!-- Bootstrap -->
<link href="{{DIR_LIBS2}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- Font Awesome -->
<link href="{{DIR_LIBS2}}font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="{{DIR_LIBS2}}nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="{{DIR_LIBS2}}iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="{{DIR_LIBS2}}bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="{{DIR_LIBS2}}jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
<!-- bootstrap-daterangepicker -->
<link href="{{DIR_LIBS2}}bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- jquery Confirm -->
<link href="{{DIR_LIBS2}}jqueryConfirm/jquery-confirm.min.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="./css/main.css" rel="stylesheet">
<!-- include summernote css/js-->
<link href="{{DIR_LIBS2}}summernote/summernote.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
<!-- Custom Theme Style -->
<link href="./css/panel/custom.min.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="./css/main.css" rel="stylesheet">
<link href="./css/styles.css" rel="stylesheet">
<style type="text/css">

</style>
<title> Panel de Administración {% block title %}  {% endblock %} </title>
{% block head %}
{% endblock %}
</head>
<!-- BODY -->
<body class="nav-md" style="background:white;;">
  <div class="container body">
	<!--  Main-Container -->
	<div class="main_container">
	{% include 'panel/includes/panel-menu.twig' %}
	{% include 'panel/includes/panel-top-navigation.twig' %}
	  {% block content %}
		{# DATA PANEL #}
	  {% endblock %}
	</div>
	 <!--  /Main-Container -->
  </div>
<!-- /BODY -->
{% include 'panel/includes/panel-footer-files.twig' %}
{% block scripts %}
	{# SCRIPTS #}
{% endblock %}
<!-- footer content -->
<footer>
	<div class="pull-right">
		Theme by <a href="https://colorlib.com">Colorlib</a> - Edited by <a href="http://lykrune.tk">Lykrune</a> - Back-End <a href="http://ancaor.com">Ancaor</a>
	</div>
	<div class="clearfix"></div>
</footer>
<!-- /footer content -->
</body>
</html>
