<div class="row px-0 mx-0" style="background-color:rgb(0, 88, 110);">
    <div class="col-sm-2 align-self-center">
        <img class="w-100 animate-right" src="{{IMAGE}}fentap/fentapv1.png" alt="">
        <img class="w-100 animate-right" src="{{IMAGE}}fentap/debajo_logo.jpg" alt="">
        
    </div>
    <div class="col-sm-10 pr-0">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <!-- <div class="swiper-slide slider-portada" style="background-image:url({{IMAGE}}fentap/portada/portada1.jpg)"></div> -->
              <div class="swiper-slide slider-portada" style="background-image:url({{IMAGE}}fentap/portada/portada2.jpg)"></div>
              <div class="swiper-slide slider-portada" style="background-image:url({{IMAGE}}fentap/portada/portada3.jpg)"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Pagination -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    
</div>